.side-nav.fixed {
	width: 400px;
	margin-top: 65px;
	background: #f7efef;
}
.active-profile {
	background-color: steelblue !important;
	color: white;
}
.active-profile a {
	color: white !important;
}
.side-nav .active-profile .switch label {
	color: white;
}
.card.horizontal h6 {
	display: inline-block;
	width: 35%;
}
.side-nav .card.horizontal .switch {
	width: 44%;
	position: absolute;
	right: 0;
	top: 5px;
}
.side-nav .card.horizontal p {
	font-size: 13px;
	margin: 0;
}
.card.horizontal span {
	font-weight: bold;
}
.card.horizontal #profile_contact {
	display: inline-block;
	padding: 0;
	height: 0;
	line-height: 0;
}
