// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#show-container {
}

#contacts-row, #profiles-row {

}
.side-nav.fixed h3, .side-nav.fixed a {
  display: inline-block;
}
.side-nav.fixed .add-profile {
  float: right;
  margin-top: 28px;
}
.side-nav.fixed i {
  font-size: 2.5rem;
}
