<div class="side-navi">
  <div class="menu-container">
    <ul>
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "Edit User", edit_user_path(current_user) %>
      </li>
      <li>
        <%= link_to 'Contacts', user_contacts_path(current_user) %>
      </li>
      <li>
        <a href="#">HELLO</a>
      </li>
      <li>
        <a href="#">HELLO</a>
      </li>
      <li>
        <% if current_user %>
        <%= link_to "Log Out", destroy_user_session_path, {class: "logout", method: "delete"} %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
<div class="side-navi-fade"></div>
