<div class="side-navi">
  <ul>
    <li>
      <%= link_to "Home", root_path %>
    </li>
    <li>
      <%= link_to "Edit User", edit_user_path(current_user) %>
    </li>
    <li>
      <a href="#">HELLO</a>
    </li>
    <li>
      <a href="#">HELLO</a>
    </li>
  </ul>
</div>
<div class="side-navi-fade"></div>
